# Data Binning
Following script is used to bin the data and check stats of participants

In [310]:
import pandas as pd
import numpy as np
import json
import string

In [311]:
df = pd.read_csv('/home1/varunk/data/ABIDE1/RawDataBIDs/composite_phenotypic_file.csv') # , index_col='SUB_ID'

df = df.sort_values(['SUB_ID'])

In [312]:
df

,SITE_ID,SUB_ID,DX_GROUP,DSM_IV_TR,AGE_AT_SCAN,SEX,HANDEDNESS_CATEGORY,HANDEDNESS_SCORES,FIQ,VIQ,...,WISC_IV_BLK_DSN_SCALED,WISC_IV_PIC_CON_SCALED,WISC_IV_MATRIX_SCALED,WISC_IV_DIGIT_SPAN_SCALED,WISC_IV_LET_NUM_SCALED,WISC_IV_CODING_SCALED,WISC_IV_SYM_SCALED,EYE_STATUS_AT_SCAN,AGE_AT_MPRAGE,BMI
489,PITT,50002,1,1,16.77,1,Ambi,NaN,103.0,116.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
490,PITT,50003,1,1,24.45,1,R,NaN,124.0,128.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
491,PITT,50004,1,1,19.09,1,R,NaN,113.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
492,PITT,50005,1,1,13.73,2,R,NaN,119.0,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
493,PITT,50006,1,1,13.37,1,L,NaN,109.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
494,PITT,50007,1,1,17.78,1,R,NaN,110.0,106.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
495,PITT,50008,1,1,32.45,1,R,NaN,123.0,123.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
496,PITT,50009,1,1,33.86,1,R,NaN,126.0,118.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
497,PITT,50010,1,1,35.20,1,L,NaN,81.0,81.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
498,PITT,50011,1,1,16.93,1,L,NaN,111.0,101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
499,PITT,50012,1,1,21.48,1,R,NaN,128.0,119.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
500,PITT,50013,1,1,9.33,1,R,NaN,86.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
501,PITT,50014,1,1,14.20,1,R,NaN,96.0,97.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
502,PITT,50015,1,1,14.20,1,R,NaN,99.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
503,PITT,50016,1,1,21.82,1,R,NaN,123.0,120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
504,PITT,50017,1,1,22.70,1,R,NaN,87.0,91.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
505,PITT,50019,1,1,27.81,1,R,NaN,100.0,89.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
506,PITT,50020,1,1,20.83,1,R,NaN,100.0,120.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
507,PITT,50022,1,1,16.99,1,R,NaN,119.0,110.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
508,PITT,50023,1,1,12.64,2,R,NaN,97.0,83.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
509,PITT,50024,1,1,22.64,1,R,NaN,127.0,121.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
510,PITT,50025,1,1,31.72,1,R,NaN,131.0,132.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
511,PITT,50026,1,1,16.28,1,R,NaN,87.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
512,PITT,50027,1,1,12.24,1,R,NaN,98.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
513,PITT,50028,1,1,12.74,1,R,NaN,126.0,112.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
514,PITT,50029,1,1,11.40,2,R,NaN,106.0,109.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
519,PITT,50030,2,0,25.12,1,-9999,NaN,105.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
520,PITT,50031,2,0,12.92,1,R,NaN,106.0,102.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
521,PITT,50032,2,0,19.80,1,R,NaN,119.0,116.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
522,PITT,50033,2,0,12.15,1,R,NaN,98.0,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
548,SBL,51558,2,0,27.00,1,NaN,80.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
549,SBL,51559,2,0,27.00,1,NaN,100.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
550,SBL,51560,2,0,27.00,1,NaN,70.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
551,SBL,51561,2,0,36.00,1,NaN,100.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
552,SBL,51562,2,0,37.00,1,NaN,90.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
553,SBL,51563,2,0,38.00,1,NaN,80.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
554,SBL,51564,2,0,39.00,1,NaN,90.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
555,SBL,51565,2,0,39.00,1,NaN,100.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
556,SBL,51566,2,0,41.00,1,NaN,70.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
557,SBL,51567,2,0,34.00,1,NaN,100.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
558,SBL,51568,2,0,37.00,1,NaN,100.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
559,SBL,51569,2,0,36.00,1,NaN,100.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
560,SBL,51570,2,0,42.00,1,NaN,-100.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
561,SBL,51571,1,1,22.00,1,NaN,-90.0,-9999.0,101.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,22.45
562,SBL,51572,1,2,28.00,1,NaN,60.0,-9999.0,93.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,22.33
563,SBL,51573,1,3,30.00,1,L,-9999.0,-9999.0,108.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,18.81
564,SBL,51574,1,2,30.00,1,NaN,100.0,-9999.0,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,30.79
565,SBL,51575,1,2,31.00,1,NaN,100.0,-9999.0,100.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,30.61
566,SBL,51576,1,3,31.00,1,NaN,80.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
567,SBL,51577,1,3,31.00,1,NaN,-40.0,-9999.0,-9999.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
568,SBL,51578,1,2,33.00,1,NaN,-100.0,125.0,129.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
569,SBL,51579,1,3,41.00,1,NaN,100.0,110.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
570,SBL,51580,1,3,42.00,1,NaN,60.0,-9999.0,117.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,23.85
571,SBL,51581,1,3,64.00,1,NaN,100.0,120.0,119.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
572,SBL,51582,1,2,31.00,1,NaN,80.0,-9999.0,116.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,28.68
573,SBL,51583,1,2,35.00,1,NaN,100.0,95.0,105.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
574,SBL,51584,1,2,49.00,1,NaN,100.0,-9999.0,133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,23.24
575,SBL,51585,1,1,27.00,1,NaN,90.0,96.0,99.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,-9999.00
184,MAX_MUN,51606,1,2,29.00,2,R,NaN,118.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN
185,MAX_MUN,51607,1,2,26.00,1,R,NaN,110.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN

### Reading scan json files and extracting scan parameters

In [313]:
# saving the file paths
!find /home1/varunk/data/ABIDE1/RawDataBIDs/ -name 'task-rest_bold.json' > scan_params_file.txt

In [314]:
# read the above created file paths:

with open('scan_params_file.txt', 'r') as f:
    scan_param_paths = f.read().split('\n')[0:-1]

In [315]:
scan_param_paths

['/home1/varunk/data/ABIDE1/RawDataBIDs/UM_1/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/Caltech/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/Max_Mun_c/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/Max_Mun_d/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/UM_2/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/Max_Mun_b/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/CMU_a/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/NYU/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/Stanford/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/CMU_b/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/Max_Mun_a/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/Leuven_1/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/KKI/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/USM/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/Olin/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/Yale/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/SBL/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/Trinity/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/Pitt/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/UCLA_1/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/OHSU/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/SDSU/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/Leuven_2/task-rest_bold.json',
 '/home1/varunk/data/ABIDE1/RawDataBIDs/UCLA_2/task-rest_bold.json']

In [316]:

# for json_path in scan_param_paths:   
#     with open(json_path, 'rt') as fp:
#         task_info = json.load(fp)

#     # Accessing the contents:

#     tr = task_info['RepetitionTime']
#     volumes = task_info['NumberofMeasurements']
#     xdim_mm, ydim_mm = task_info['PixelSpacing'].split('x')
#     zdim_mm = task_info['SpacingBetweenSlices']
    
#     xdim_voxels, ydim_voxels = task_info['AcquisitionMatrix'].split('x')
#     zdim_voxels = task_info['NumberOfSlices']

### Convention:
**DX_GROUP** : 1=Autism, 2= Control

**DSM_IV_TR** : 0=TD,1=Autism,2=Asperger's, 3= PDD-NOS, 4=Asperger's or PDD-NOS

**SEX** : 1=Male, 2=Female

In [317]:
SITES = np.unique(df.as_matrix(['SITE_ID']).squeeze())
data_frame = pd.DataFrame({
'SITE_NAME': [] ,
'TR': [],
'VOLUMES': [],
'xdim_mm': [],
'ydim_mm': [],
'zdim_mm': [],
'xdim_voxels': [],
'ydim_voxels': [],
'zdim_voxels': [],    
'NUM_AUT_DSM_V': [] , 
'NUM_AUT_MALE_DSM_V': [] ,
'NUM_AUT_FEMALE_DSM_V': [],
'NUM_AUT_AGE_lte12_DSM_V' : [],
'NUM_AUT_AGE_12_18_DSM_V' : [],
'NUM_AUT_AGE_18_24_DSM_V': [],
'NUM_AUT_AGE_24_34_DSM_V' :[],
'NUM_AUT_AGE_34_50_DSM_V' : [],
'NUM_AUT_AGE_gt50_DSM_V' : [],
'NUM_AUT_DSM_IV' : [],
'NUM_AUT_MALE_DSM_IV' : [],
'NUM_AUT_FEMALE_DSM_IV' : [],
'NUM_ASP_DSM_IV' : [],
'NUM_ASP_MALE_DSM_IV' : [],
'NUM_ASP_FEMALE_DSM_IV' : [],
'NUM_PDDNOS_DSM_IV' : [],
'NUM_PDDNOS_MALE_DSM_IV' : [],
'NUM_PDDNOS_FEMALE_DSM_IV' : [],
'NUM_ASP_PDDNOS_DSM_IV' : [],
'NUM_ASP_PDDNOS_MALE_DSM_IV' : [],
'NUM_ASP_PDDNOS_FEMALE_DSM_IV' : [],
'NUM_TD' : [],
'NUM_TD_MALE' : [],
'NUM_TD_FEMALE' : [],
'NUM_TD_AGE_lte12' : [],
'NUM_TD_AGE_12_18' : [],
'NUM_TD_AGE_18_24' : [],
'NUM_TD_AGE_24_34' : [],
'NUM_TD_AGE_34_50' : [],
'NUM_TD_AGE_gt50' : []
                       
})

In [318]:
# NUM_AUT = 
# df.loc[(df['DSM_IV_TR'] != 0) & (df['DSM_IV_TR'] != 1) & (df['DSM_IV_TR'] != 2) & (df['DSM_IV_TR'] != 3) & (df['DSM_IV_TR'] != 4)]


for SITE in SITES:
    NUM_AUT_DSM_V = df.loc[(df['DX_GROUP'] == 1) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_AUT_MALE_DSM_V = df.loc[(df['DX_GROUP'] == 1) & (df['SEX'] == 1) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_AUT_FEMALE_DSM_V = df.loc[(df['DX_GROUP'] == 1) & (df['SEX'] == 2) & (df['SITE_ID'] == SITE)].shape[0]

    NUM_AUT_AGE_lte12_DSM_V = df.loc[(df['DX_GROUP'] == 1) & (df['AGE_AT_SCAN'] <= 12) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_AUT_AGE_12_18_DSM_V = df.loc[(df['DX_GROUP'] == 1) & (df['AGE_AT_SCAN'] > 12) & (df['AGE_AT_SCAN'] <= 18) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_AUT_AGE_18_24_DSM_V = df.loc[(df['DX_GROUP'] == 1) & (df['AGE_AT_SCAN'] > 18) & (df['AGE_AT_SCAN'] <= 24) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_AUT_AGE_24_34_DSM_V = df.loc[(df['DX_GROUP'] == 1) & (df['AGE_AT_SCAN'] > 24) & (df['AGE_AT_SCAN'] <= 34) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_AUT_AGE_34_50_DSM_V = df.loc[(df['DX_GROUP'] == 1) & (df['AGE_AT_SCAN'] > 34) & (df['AGE_AT_SCAN'] <= 50) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_AUT_AGE_gt50_DSM_V = df.loc[(df['DX_GROUP'] == 1) & (df['AGE_AT_SCAN'] > 50 ) & (df['SITE_ID'] == SITE)].shape[0]


    NUM_AUT_DSM_IV = df.loc[(df['DSM_IV_TR'] == 1) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_AUT_MALE_DSM_IV = df.loc[(df['DSM_IV_TR'] == 1) & (df['SEX'] == 1) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_AUT_FEMALE_DSM_IV = df.loc[(df['DSM_IV_TR'] == 1) & (df['SEX'] == 2) & (df['SITE_ID'] == SITE)].shape[0]


    NUM_ASP_DSM_IV = df.loc[(df['DSM_IV_TR'] == 2) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_ASP_MALE_DSM_IV = df.loc[(df['DSM_IV_TR'] == 2) & (df['SEX'] == 1) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_ASP_FEMALE_DSM_IV = df.loc[(df['DSM_IV_TR'] == 2) & (df['SEX'] == 2) & (df['SITE_ID'] == SITE)].shape[0]

    NUM_PDDNOS_DSM_IV = df.loc[(df['DSM_IV_TR'] == 3) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_PDDNOS_MALE_DSM_IV = df.loc[(df['DSM_IV_TR'] == 3) & (df['SEX'] == 1) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_PDDNOS_FEMALE_DSM_IV = df.loc[(df['DSM_IV_TR'] == 3) & (df['SEX'] == 2) & (df['SITE_ID'] == SITE)].shape[0]

    NUM_ASP_PDDNOS_DSM_IV = df.loc[(df['DSM_IV_TR'] == 4) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_ASP_PDDNOS_MALE_DSM_IV = df.loc[(df['DSM_IV_TR'] == 4) & (df['SEX'] == 1) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_ASP_PDDNOS_FEMALE_DSM_IV = df.loc[(df['DSM_IV_TR'] == 4) & (df['SEX'] == 2) & (df['SITE_ID'] == SITE)].shape[0]



    NUM_TD = df.loc[(df['DX_GROUP'] == 2) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_TD_MALE = df.loc[(df['DX_GROUP'] == 2) & (df['SEX'] == 1) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_TD_FEMALE = df.loc[(df['DX_GROUP'] == 2) & (df['SEX'] == 2) & (df['SITE_ID'] == SITE)].shape[0]

    NUM_TD_AGE_lte12 = df.loc[(df['DX_GROUP'] == 2) & (df['AGE_AT_SCAN'] <= 12) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_TD_AGE_12_18 = df.loc[(df['DX_GROUP'] == 2) & (df['AGE_AT_SCAN'] > 12) & (df['AGE_AT_SCAN'] <= 18) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_TD_AGE_18_24 = df.loc[(df['DX_GROUP'] == 2) & (df['AGE_AT_SCAN'] > 18) & (df['AGE_AT_SCAN'] <= 24) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_TD_AGE_24_34 = df.loc[(df['DX_GROUP'] == 2) & (df['AGE_AT_SCAN'] > 24) & (df['AGE_AT_SCAN'] <= 34) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_TD_AGE_34_50 = df.loc[(df['DX_GROUP'] == 2) & (df['AGE_AT_SCAN'] > 34) & (df['AGE_AT_SCAN'] <= 50) & (df['SITE_ID'] == SITE)].shape[0]
    NUM_TD_AGE_gt50 = df.loc[(df['DX_GROUP'] == 2) & (df['AGE_AT_SCAN'] > 50 ) & (df['SITE_ID'] == SITE)].shape[0]

    tr = 0
    volumes = 0
    xdim_mm = 0
    ydim_mm = 0
    zdim_mm = 0
    xdim_voxels = 0
    ydim_voxels = 0
    zdim_voxels = 0
    
    # Accessing scan details
    for json_path in scan_param_paths:
        extracted_site = json_path.split('/')[-2]
        
        if (SITE).lower() in (extracted_site).lower():    
            with open(json_path, 'rt') as fp:
                print('Site matched with ',json_path)
                task_info = json.load(fp)

    # Accessing the contents:

                tr = task_info['RepetitionTime']
                volumes = task_info['NumberofMeasurements']
                xdim_mm, ydim_mm = task_info['PixelSpacing'].split('x')
                zdim_mm = task_info['SpacingBetweenSlices']

                xdim_voxels, ydim_voxels = task_info['AcquisitionMatrix'].split('x')
                zdim_voxels = task_info['NumberOfSlices']
    
    
    _df = pd.DataFrame({
    'SITE_NAME': SITE ,
    'TR': tr ,
    'VOLUMES': volumes,
    'xdim_mm':xdim_mm,
    'ydim_mm':ydim_mm,
    'zdim_mm':zdim_mm,
    'xdim_voxels':xdim_voxels,
    'ydim_voxels':ydim_voxels,
    'zdim_voxels':zdim_voxels,
        
    'NUM_AUT_DSM_V': NUM_AUT_DSM_V , 
    'NUM_AUT_MALE_DSM_V': NUM_AUT_MALE_DSM_V ,
    'NUM_AUT_FEMALE_DSM_V': NUM_AUT_FEMALE_DSM_V,
    'NUM_AUT_AGE_lte12_DSM_V' : NUM_AUT_AGE_lte12_DSM_V,
    'NUM_AUT_AGE_12_18_DSM_V' : NUM_AUT_AGE_12_18_DSM_V,
    'NUM_AUT_AGE_18_24_DSM_V': NUM_AUT_AGE_18_24_DSM_V,
    'NUM_AUT_AGE_24_34_DSM_V' :NUM_AUT_AGE_24_34_DSM_V,
    'NUM_AUT_AGE_34_50_DSM_V' : NUM_AUT_AGE_34_50_DSM_V,
    'NUM_AUT_AGE_gt50_DSM_V' : NUM_AUT_AGE_gt50_DSM_V,
    'NUM_AUT_DSM_IV' : NUM_AUT_DSM_IV,
    'NUM_AUT_MALE_DSM_IV' : NUM_AUT_MALE_DSM_IV,
    'NUM_AUT_FEMALE_DSM_IV' : NUM_AUT_FEMALE_DSM_IV,
    'NUM_ASP_DSM_IV' : NUM_ASP_DSM_IV,
    'NUM_ASP_MALE_DSM_IV' : NUM_ASP_MALE_DSM_IV,
    'NUM_ASP_FEMALE_DSM_IV' : NUM_ASP_FEMALE_DSM_IV,
    'NUM_PDDNOS_DSM_IV' : NUM_PDDNOS_DSM_IV,
    'NUM_PDDNOS_MALE_DSM_IV' : NUM_PDDNOS_MALE_DSM_IV,
    'NUM_PDDNOS_FEMALE_DSM_IV' : NUM_PDDNOS_FEMALE_DSM_IV,
    'NUM_ASP_PDDNOS_DSM_IV' : NUM_ASP_PDDNOS_DSM_IV,
    'NUM_ASP_PDDNOS_MALE_DSM_IV' : NUM_ASP_PDDNOS_MALE_DSM_IV,
    'NUM_ASP_PDDNOS_FEMALE_DSM_IV' : NUM_ASP_PDDNOS_FEMALE_DSM_IV,
    'NUM_TD' : NUM_TD,
    'NUM_TD_MALE' : NUM_TD_MALE,
    'NUM_TD_FEMALE' : NUM_TD_FEMALE,
    'NUM_TD_AGE_lte12' : NUM_TD_AGE_lte12,
    'NUM_TD_AGE_12_18' : NUM_TD_AGE_12_18,
    'NUM_TD_AGE_18_24' : NUM_TD_AGE_18_24,
    'NUM_TD_AGE_24_34' : NUM_TD_AGE_24_34,
    'NUM_TD_AGE_34_50' : NUM_TD_AGE_34_50,
    'NUM_TD_AGE_gt50' : NUM_TD_AGE_gt50

    },index=[0],columns = [ 'SITE_NAME',
                            'TR',
                            'VOLUMES',
                            'xdim_mm',
                            'ydim_mm',
                            'zdim_mm',
                            'xdim_voxels',
                            'ydim_voxels',
                            'zdim_voxels',
                            'NUM_AUT_DSM_V',
                            'NUM_AUT_MALE_DSM_V',
                            'NUM_AUT_FEMALE_DSM_V',
                            'NUM_AUT_AGE_lte12_DSM_V',
                            'NUM_AUT_AGE_12_18_DSM_V',
                            'NUM_AUT_AGE_18_24_DSM_V',
                            'NUM_AUT_AGE_24_34_DSM_V',
                            'NUM_AUT_AGE_34_50_DSM_V',
                            'NUM_AUT_AGE_gt50_DSM_V',
                            'NUM_AUT_DSM_IV',
                            'NUM_AUT_MALE_DSM_IV',
                            'NUM_AUT_FEMALE_DSM_IV',
                            'NUM_ASP_DSM_IV',
                            'NUM_ASP_MALE_DSM_IV',
                            'NUM_ASP_FEMALE_DSM_IV',
                            'NUM_PDDNOS_DSM_IV',
                            'NUM_PDDNOS_MALE_DSM_IV',
                            'NUM_PDDNOS_FEMALE_DSM_IV',
                            'NUM_ASP_PDDNOS_DSM_IV',
                            'NUM_ASP_PDDNOS_MALE_DSM_IV',
                            'NUM_ASP_PDDNOS_FEMALE_DSM_IV',
                            'NUM_TD',
                            'NUM_TD_MALE',
                            'NUM_TD_FEMALE',
                            'NUM_TD_AGE_lte12',
                            'NUM_TD_AGE_12_18',
                            'NUM_TD_AGE_18_24',
                            'NUM_TD_AGE_24_34',
                            'NUM_TD_AGE_34_50',
                            'NUM_TD_AGE_gt50'])
    data_frame = data_frame.append(_df, ignore_index=True)[_df.columns.tolist()] 
    
    
#     df = pd.DataFrame(raw_data, columns = [])

# Sanity Check
# NUM_AUT_DSM_V.shape[0] + NUM_TD.shape[0]    
# df.loc[(df['DSM_IV_TR'] == 0)].shape[0] + NUM_AUT_DSM_V.shape[0] # Not exhaustive

Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/Caltech/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/CMU_a/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/CMU_b/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/KKI/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/Leuven_1/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/Leuven_2/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/Max_Mun_c/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/Max_Mun_d/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/Max_Mun_b/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/Max_Mun_a/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/NYU/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/OHSU/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/Olin/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/Pitt/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/SBL/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/SDSU/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/Stanford/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/Trinity/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/UCLA_1/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/UCLA_2/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/UM_1/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/UM_2/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/USM/task-rest_bold.json
Site matched with  /home1/varunk/data/ABIDE1/RawDataBIDs/Yale/task-rest_bold.json

In [319]:
# 'MAX_MUN'.lower() in '/home1/varunk/data/ABIDE1/RawDataBIDs/MaxMun_a/task-rest_bold.json'.lower()

False

In [320]:
_df

,SITE_NAME,TR,VOLUMES,xdim_mm,ydim_mm,zdim_mm,xdim_voxels,ydim_voxels,zdim_voxels,NUM_AUT_DSM_V,...,NUM_ASP_PDDNOS_FEMALE_DSM_IV,NUM_TD,NUM_TD_MALE,NUM_TD_FEMALE,NUM_TD_AGE_lte12,NUM_TD_AGE_12_18,NUM_TD_AGE_18_24,NUM_TD_AGE_24_34,NUM_TD_AGE_34_50,NUM_TD_AGE_gt50
0,YALE,2.0,200.0,3.4,3.4,4.0,64,64,34.0,28,...,0,28,20,8,11,17,0,0,0,0

In [321]:
data_frame

,SITE_NAME,TR,VOLUMES,xdim_mm,ydim_mm,zdim_mm,xdim_voxels,ydim_voxels,zdim_voxels,NUM_AUT_DSM_V,...,NUM_ASP_PDDNOS_FEMALE_DSM_IV,NUM_TD,NUM_TD_MALE,NUM_TD_FEMALE,NUM_TD_AGE_lte12,NUM_TD_AGE_12_18,NUM_TD_AGE_18_24,NUM_TD_AGE_24_34,NUM_TD_AGE_34_50,NUM_TD_AGE_gt50
0,CALTECH,2.000,150.0,3.5,3.5,3.500,64,64,34.0,19.0,...,1.0,19.0,15.0,4.0,0.0,1.0,10.0,2.0,5.0,1.0
1,CMU,1.500,240.0,3,3,4.500,64,64,21.0,14.0,...,0.0,13.0,10.0,3.0,0.0,0.0,4.0,8.0,1.0,0.0
2,KKI,2.500,156.0,3.05,3.15,3.000,84,81,47.0,22.0,...,0.0,33.0,24.0,9.0,30.0,3.0,0.0,0.0,0.0,0.0
3,LEUVEN_1,1.667,250.0,3.59,3.59,4.000,64,64,32.0,14.0,...,0.0,15.0,15.0,0.0,0.0,1.0,10.0,4.0,0.0,0.0
4,LEUVEN_2,1.667,250.0,3.59,3.59,4.000,64,64,32.0,15.0,...,0.0,20.0,15.0,5.0,0.0,20.0,0.0,0.0,0.0,0.0
5,MAX_MUN,3.000,120.0,3,3,4.400,64,64,28.0,24.0,...,0.0,33.0,29.0,4.0,4.0,2.0,8.0,15.0,4.0,0.0
6,NYU,2.000,180.0,3,3,4.000,80,64,33.0,79.0,...,0.0,105.0,79.0,26.0,33.0,41.0,20.0,11.0,0.0,0.0
7,OHSU,2.500,82.0,3.8,3.8,3.800,64,64,36.0,13.0,...,0.0,15.0,15.0,0.0,15.0,0.0,0.0,0.0,0.0,0.0
8,OLIN,1.500,210.0,3.4,3.4,5.000,64,64,29.0,20.0,...,0.0,16.0,14.0,2.0,1.0,9.0,6.0,0.0,0.0,0.0
9,PITT,1.500,200.0,3.1,3.1,4.000,64,64,29.0,30.0,...,0.0,27.0,23.0,4.0,2.0,13.0,6.0,6.0,0.0,0.0
10,SBL,2.200,200.0,2.75,2.75,2.992,80,80,38.0,15.0,...,0.0,15.0,15.0,0.0,0.0,0.0,1.0,5.0,9.0,0.0
11,SDSU,2.000,180.0,3.4,3.4,3.400,64,64,42.0,14.0,...,0.0,22.0,16.0,6.0,1.0,21.0,0.0,0.0,0.0,0.0
12,STANFORD,2.000,180.0,3.125,3.125,4.500,64,64,29.0,20.0,...,0.0,20.0,16.0,4.0,16.0,4.0,0.0,0.0,0.0,0.0
13,TRINITY,2.000,150.0,3,3,3.850,80,80,38.0,24.0,...,0.0,25.0,25.0,0.0,0.0,15.0,8.0,2.0,0.0,0.0
14,UCLA_1,3.000,120.0,3,3,4.000,64,64,34.0,49.0,...,0.0,33.0,29.0,4.0,11.0,22.0,0.0,0.0,0.0,0.0
15,UCLA_2,3.000,120.0,3,3,4.000,64,64,34.0,13.0,...,0.0,14.0,12.0,2.0,6.0,8.0,0.0,0.0,0.0,0.0
16,UM_1,2.000,300.0,3.438,3.438,3.000,64,64,40.0,55.0,...,0.0,55.0,38.0,17.0,19.0,30.0,6.0,0.0,0.0,0.0
17,UM_2,2.000,300.0,3.438,3.438,3.000,64,64,40.0,13.0,...,0.0,22.0,21.0,1.0,0.0,20.0,0.0,2.0,0.0,0.0
18,USM,2.000,240.0,3.4,3.4,3.300,64,64,40.0,58.0,...,0.0,43.0,43.0,0.0,4.0,10.0,14.0,11.0,4.0,0.0
19,YALE,2.000,200.0,3.4,3.4,4.000,64,64,34.0,28.0,...,0.0,28.0,20.0,8.0,11.0,17.0,0.0,0.0,0.0,0.0

In [323]:
# Save the csv file
data_frame.to_csv('demographics.csv')